header {
  height: 127px;
  width: 100%;
}
.navigation {
  align-items: flex-start;
  animation-name: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.logo {
  border: 0;
  padding: 1rem 1rem 0 1rem;
  width: 90px;
}
nav {
  margin-right: 0;
  padding: 0.5rem 1rem;
}
nav ul {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}
nav ul li {
  display: inline;
  flex-basis: 50%;
  margin: 0;
  padding-bottom: 0.5rem;
}
.navigation-sticky {
  animation-name: appear;
  animation-duration: 0.2s;
  position: fixed;
}
@keyframes appear {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* QUERIES */
@media (min-width: 688px) { /* tablets */
  header {
    height: 70px;
  }
  .logo {
    border: 0;
    padding: 1rem;
    width: 120px;
  }
  .navigation {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    margin-right: 0;
    padding: 1rem;
  }
  nav ul {
    flex-wrap: nowrap;
    gap: 2rem;
  }
  nav ul li {
    padding-top: 0.5rem;
  }
}
@media (min-width: 992px) { /* laptop */

}
@media (min-width: 1201px) { /* desktop */ 

}