@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:wght@100;400;900&display=swap');


/*--- GLOBAL ---*/
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  line-height: 1.5rem;
  scroll-behavior: smooth;

}
body {
  color:#333;
  font-family: 'Lora', serif;
  width: 100%;
}
::selection {
  background: #333;
  color: #ccc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color:hsl(160, 15%, 10%);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
h1 {
  font-size: 3.375rem;
  line-height: 4rem;
}
h2 {
  font-size: 2.625rem;
  line-height: 3.125rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}
h6 {
  font-size: 1rem;
  line-height: 1.375rem;
}

/* images */
figure {
  margin-bottom: 2em;
  margin-top: 2em;
}
caption,
figcaption {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
figcaption {
  text-align: center;
}
.img-responsive {
  width: 100%;
}

/* links */
a {
  color:hsl(160, 100%, 35%);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-decoration: none;
}
a:hover {
  color:hsl(160, 100%, 40%);
}
.read-more {
  margin-bottom: 1rem;
}

/* body */
ul {
  list-style-position: inside;
}
p + p {
  margin-top: 1em;
}



/*--- HEADER ---*/
header {
  background: #fff;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header__wrapper {
  border: 1px solid blue;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 24px;
}
.site-logo {
  color: #333;
  font-size: 18px;
}
.site-logo a {
  color: #333;
}

nav {
  display: block;
}

.nav {
  display: flex;
  gap: 16px;
}
.nav__item {
  list-style: none;
}
.nav__link {
  border-radius: 3px;
  display: block;
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
}
.nav__link:hover {
  background: #00e599;
  color: #333;
}



/*--- MAIN ---*/
/* check SMACSS architecture. To learn more, visit: http://smacss.com/ */
.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 24px;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  padding-bottom: 3rem;
}
.mod-hero h2 {
  font-size: 4rem;
  line-height: 110%;
  color: #00e599;
  background-image: linear-gradient(45deg,#0bb27a,#00e599);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.mod-hero h2::selection {
  color: #fff;
  background-image: none;
  background-clip: unset;
  -webkit-backround-clip: unset;
  -moz-background-clip: unset;
  text-fill-color: white;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
}


/*--- FOOTER ---*/
footer {
  padding: 1rem;
}