@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:wght@100;400;900&display=swap');
@import url('grid.css');
@import url('system.css');
@import url('header.css'); 
@import url('footer.css');

/* check SMACSS architecture. To learn more, visit: http://smacss.com/ */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 90vh; */
  padding-bottom: 3rem;
}

.holder {
  margin: auto;
  width: 90vw;
}

.headline {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.zip,
.feelings,
.button,
.entry {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.entry {
  display: none;
}
#temperature {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

label {
  display: block;
  margin-bottom: 1em;
}

input,
select,
textarea {
  min-width: 50vw;
}

/* QUERIES */
@media (min-width: 688px) { /* tablets */
  .holder {
    width: 90vw;
  }
}
@media (min-width: 992px) { /* laptop */
  .holder {
    width: 80vw;
  }
}
@media (min-width: 1201px) { /* desktop */ 
  .holder {
    width: 70vw;
  }
}