@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:wght@100;400;900&display=swap');
@import url('grid.css');
@import url('system.css');
@import url('header.css'); 
@import url('footer.css');

/* check SMACSS architecture. To learn more, visit: http://smacss.com/ */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}
article {
  margin: auto;
}
.back-to-top {
  border-radius: 4px;
  bottom: 10px;
  opacity: 0;
  padding: 1rem 2rem;
  position: fixed;
  right: 10px;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
}
.back-to-top-visible {
  cursor: pointer;
  opacity: 0.9;
  visibility: visible;
}
.back-to-top:hover {
  opacity: 1;
}

/* QUERIES */
@media (min-width: 688px) { /* tablets */
  article {
    max-width: 90vw;
  }
}
@media (min-width: 992px) { /* laptop */
  article {
    max-width: 80vw;
  }
}
@media (min-width: 1201px) { /* desktop */ 
  article {
    max-width: 70vw;
  }
}