@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:wght@100;400;900&display=swap');
@import url('grid.css');
@import url('system.css');
@import url('header.css');
@import url('footer.css');
@import url('cards.css');

/* MAIN */
main {
  background-color: #fff;
  padding: 1rem;  
}
.content {
  margin: auto;
  max-width: 90%;
}
main,
h1,
h2 {
  color: hsl(210, 18%, 11%);
}
article h1 {
  margin: 2rem auto 1rem auto;
}

/* POSTS NAVIGATION */
.posts-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.post-link {
  display: block;
}
.inactive-post-link {
  opacity: 0.5;
}

/* AUTHOR */
.author {
  background: #fff;
  border: 1px solid hsl(210, 18%, 81%);
  border-radius: 4px;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "img name"
    "img details"
    ".   social";
  padding: 1em;
}
.author-avatar {
  border-radius: 50%;
  grid-area: img;
  width: 100%;
}
.author-name {
  grid-area: name;
}
.author-details {
  grid-area: details;
}
.author-title {
  font-size: 0.85rem;
}
.author-social {
  grid-area: social;
}
.author-social img {
  color: hsl(16, 100%, 50%);
  padding-right: 2rem;
  padding-top: 2rem;
  width: 32px;
}

/* SIDEBAR */
.sidebar {
  background: hsl(210, 18%, 91%);;
  color: hsl(210, 18%, 11%);
  padding: 3em 2em;
}

/* QUERIES */
@media (min-width: 688px) { /* tablets */
  .content {
    max-width: 600px;
  }
}
@media (min-width: 992px) { /* laptop */
  .content {
    margin: auto;
    max-width: 600px
  }
}
@media (min-width: 1201px) { /* desktop */ 
  .content {
    max-width: 800px;
  }
}