@import url('system.css');
@import url('grid.css');

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content {
  padding: 1em;
}
.sidebar {
  border-left: 1px solid hsl(210, 18%, 81%);
  padding: 1em 2em;
}

article,
.posts-navigation,
.author {
  margin: auto;
  max-width: 800px;
}
.posts-navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5em;
  justify-content: space-between;
  padding: 2em auto;
}
.author {
  border: 1px solid hsl(210, 18%, 81%);
  padding: 1em;
}

/* QUERIES */
@media (min-width: 481px) { /* tablets */
  main {
    flex-direction: row;
  }
  .content {
    flex-grow: 2;
  }
  .sidebar {
    flex-grow: 1;
  }
}

@media (min-width: 769px) { /* laptop */

}

@media (min-width: 1025px) { /* desktop */ 

}
@media (min-width: 1201px) { /* large screen */

}
