@import url('main.css');
@import url('system.css');


body {
  color: hsl(210, 18%, 11%);
}


/* MAIN */
main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: main;
  justify-content: space-between;
}
article h2 {
  margin: 1.5rem auto 1rem auto;
}
.posts-navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em auto 3em auto;
}
.inactive-post-link {
  opacity: 0.5;
}
.author {
  align-items: center;
  border: 1px solid hsl(210, 18%, 81%);
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "img name"
    "img country";
  padding: 1em;
}
.author-avatar {
  border-radius: 50%;
  grid-area: img;
  width: 100%;
}
.author-name {
  grid-area: name;
}
.author-country {
  grid-area: country;
}
.sidebar {
  border-top: 1px solid hsl(210, 18%, 81%);
  margin-top: 3em;
  padding: 1em 2em;
}


/* QUERIES */
@media (min-width: 992px) { /* laptop */
  main {
    flex-direction: row;
  }
  .content {
    margin: auto;
    max-width: 60vw;
  }
  .sidebar {
    background-color: hsl(210, 100%, 97%);
    border-top: none;
    margin-top: 0;
    padding: 2em;
    width: 20%;
  }
}
@media (min-width: 1201px) { /* desktop */ 
  .content {
    max-width: 50vw;
  }
}