body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "hd"
    "nav"
    "main"
    "ft";
  margin: 0;
  width: 100%;
}

/* HEADER */
header {
  grid-area: hd;
}

/* NAVIGATION */
nav {
  grid-area: nav;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav ul li {
  display: inline;
}

/* MAIN */
main {
  grid-area: main;
  padding: 0.5em;
}
main > h2 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr 2fr 40px;
  grid-template-areas:
    "date cat"
    "title title"
    "body body"
    "link link";
  justify-items: start;
  margin: 0.5em;
  padding: 1.5em 1em;
}
.card-category {
  grid-area: cat;
  justify-self: end;
}
.card-date {
  grid-area: date;
}
.card-title {
  grid-area: title;
}
.card-body {
  grid-area: body;
}
.card-link {
  grid-area: link;
  align-self: end;
}

@media (min-width: 43em) { /* tablet */
  .container {
    flex-flow: row wrap;
  }
  .card {
    flex: 40%;
  }
}

@media (min-width: 62em) { /* destop */
  .card {
    flex: 30%;
    margin: 1em;
  }
}
@media (min-width: 81em) { /* large destop */
  .card {
    flex: 22%;
    margin: 1em;
  }
}

/* FOOTER */
footer {
  grid-area:ft;
}