* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    "hd"
    "nav"
    "main"
    "ft";
}
.container > * {
  padding: 1em;
}


/* HEADER */
header {
  align-self: stretch;
  grid-area: hd;
}


/* NAV */
nav {
  grid-area: nav;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav ul li {
  display: inline;
  margin-right: 2em;
}


/* MAIN */
main {
  align-self: start;
  grid-area: main;
}
main > h2 {
  text-align: center;
}

.blog-cards {
  display: grid;
  gap: 1em 1em; /* row-gap column-gap */
  grid-auto-flow: row;
  grid-template-columns: 1fr;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  padding: 1em 2em;
}
.card > *:last-child {
  margin-top: auto;
}

/* FOOTER */
footer {
  grid-area: ft;
  text-align: center;
}



/* QUERIES */

@media (min-width: 481px) { /* tablets */
  .blog-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 769px) { /* laptop */
  .blog-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1025px) { /* desktop */ 
  .blog-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1201px) { /* large screen */
  .blog-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}




