.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    "nav"
    "hd"
    "main"
    "ft";
}


/* NAV */
nav {
  grid-area: nav;
  margin: 0 auto 1rem 1rem;
  padding: 0;
}
nav ul {
  display: none;
}
nav ul li {
  display: inline;
  margin: auto;
  padding: 1rem;
}
.hamburger {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.hidden-mobile {
  display: none;
}


/* HEADER */
header {
  align-self: stretch;
  grid-area: hd;
}


/* FOOTER */
footer {
  align-items: center;
  display: flex;
  grid-area: ft;
  justify-content: center;
  margin: 1rem;
}


/* QUERIES */
@media (min-width: 688px) { /* tablets */
  .hamburger {
    display: none;
  }
  nav {
    grid-area: nav;
    margin: 1rem auto;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .blog-cards {
    gap: 2em 2em;
    grid-template-columns: 1fr 1fr;
  }
}