@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;900&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  color: #12161a;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(210, 18%, 9%);
  font-family: 'Roboto Slab', serif;
  margin: 0.6em auto;
}

a {
  color: hsl(210, 82%, 28%);
  font-weight: bold;
}
a:hover {
  color: hsl(210, 82%, 38%);
}

/* HEADER */
header {
  background-color: hsl(210, 18%, 9%);
  color: #fff;
  padding: 1em;
}
header h1 {
  color: #fff;
}

@media (min-width: 43em) { /* tablet */
  header h1 {
    text-align: center;
  }
}

@media (min-width: 62em) { /* destop */
  header h1 {
    font-size: 3.75rem;
  }
}

/* NAV */
nav {
  background-color: hsl(210, 18%, 21%);
  color: #fff;
  padding: 0.5em 1em;
}

/* MAIN */
main {
  padding: 0.5em 1em;
}
.card {
  border: 1px solid #000;
  border-radius: 0.25em;
  margin-bottom: 1em;
}
.card-category {
  font-size: 0.8em;
  text-transform: uppercase;
}
.card-date {
  font-size: 0.8em;
}
.card-title {
  text-align: left;
}
.card-body {
  margin-bottom: 1em;
}
.card-link {
  text-decoration: none;
}

/* FOOTER */
footer {
  background-color: #35414D;
  color: white;
  font-size: 0.8em;
  padding: 0.5em;
  text-align: center;
}