html {
  font-size: 16px;
  line-height: 1.5rem;
}
body {
  background-color: hsl(210, 18%, 11%);
  color: #fff;
  font-family: 'Lora', serif;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
h1,
h2 {
  color: #fff;
}
h3,
h4,
h5,
h6 {
  color: hsl(210, 18%, 9%);
}
h1 {
  font-size: 3.375rem;
  line-height: 4rem;
}
h2 {
  font-size: 2.625rem;
  line-height: 3.125rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}
h6 {
  font-size: 1rem;
  line-height: 1.375rem;
  text-transform: uppercase;
}
figure {
  margin-bottom: 2em;
  margin-top: 2em;
}
caption,
figcaption {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
figcaption {
  text-align: center;
}
.img-responsive {
  width: 100%;
}
a {
  color: hsl(16, 100%, 41%);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: hsl(16, 100%, 43%);
}
.read-more {
  margin-bottom: 1rem;
}
ul {
  list-style-position: inside;
}
p + p {
  margin-top: 1em;
}
.claim {
  margin: 4rem auto;
}
.section-title {
  margin-bottom: 2rem;
}
.category {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.text-lead {
  font-size: 1.25rem;
}
.text-small {
  font-size: 0.875rem;
}
.striked {
  text-decoration: line-through;
}
/* HEADER */
header a {
  color: hsl(16, 100%, 55%);
}
header a:hover {
  color: hsl(16, 100%, 65%);
}
nav {
  color: hsl(210, 18%, 11%);
}
nav ul li {
  display: inline;
  margin: 0 1rem;
}
.hamburger {
  background-color: hsl(16, 100%, 55%);
  color: #fff;
}
.hamburger a {
  color: #fff;
}
/* MAIN */
main {
  padding: 1rem;
}
.card {
  background-color: hsl(210, 100%, 97%);
  border-radius: 6px;
}
.card:hover {
  background-color: #fff;
}
/* FOOTER */
footer {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
/* HELPERS */
.blurry {
  filter: blur(1px);
}