@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;900&family=Roboto:wght@400;700&display=swap');

html {
  font-size: 18px;
  line-height: 24px;
}
body {
  color: #12161a;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(210, 18%, 9%);
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-size: 42px;
  line-height: 44px;
  font-weight: 900;
}
h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}
h3 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 900;
}
h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
}
h6 {
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
}

caption {
  font-size: 12px;
  line-height: 16px;
}

a {
  color: hsl(210, 82%, 28%);
  font-weight: bold;
}
a:hover {
  color: hsl(210, 82%, 38%);
}

.container > * {
  padding: 1em;
}


/* HEADER */
header {
  background-color: hsl(210, 18%, 11%);
  padding: 1.5em;
}
header h1 {
  color: #fff;
  text-align: center;
}


/* NAV */
nav {
  background-color: hsl(210, 18%, 21%);
  color: #fff;
}
nav ul li {
  display: inline;
  margin-right: 2em;
}


/* MAIN */
main {
  background-color: #f6f6f6;
}
main > h2 {
  text-align: center;
}

.card {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
}


/* FOOTER */
footer {
  background-color: hsl(210, 18%, 21%);
  color: #fff;
  font-size: 0.8em;
}