html {
  font-size: 16px;
  line-height: 1.5rem;
  scroll-behavior: smooth;
}
body {
  background-color: hsl(210, 18%, 11%);
  color: #fff;
  font-family: 'Lora', serif;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
h1,
h2 {
  color: #fff;
}
h3,
h4,
h5,
h6 {
  color: hsl(210, 18%, 9%);
}
h1 {
  font-size: 3.375rem;
  line-height: 4rem;
}
h2 {
  font-size: 2.625rem;
  line-height: 3.125rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}
h6 {
  font-size: 1rem;
  line-height: 1.375rem;
  text-transform: uppercase;
}
figure {
  margin-bottom: 2em;
  margin-top: 2em;
}
caption,
figcaption {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
figcaption {
  text-align: center;
}
.img-responsive {
  width: 100%;
}
a {
  color: hsl(16, 100%, 41%);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: hsl(16, 100%, 43%);
}
.read-more {
  margin-bottom: 1rem;
}
ul {
  list-style-position: inside;
}
p + p {
  margin-top: 1em;
}
.claim {
  margin: 4rem auto;
}
.section-title {
  margin-bottom: 2rem;
}
.category {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.text-lead {
  font-size: 1.25rem;
}
.text-small {
  font-size: 0.875rem;
}
.striked {
  text-decoration: line-through;
}

/* HEADER */
header {
  background-color: hsl(210, 18%, 11%);
}
header a {
  color: hsl(16, 100%, 55%);
}
header a:hover {
  color: hsl(16, 100%, 65%);
}
.navigation {
  background-color: hsl(210, 18%, 11%);
}
nav {
  color: hsl(210, 18%, 11%);
}
nav ul li {
  display: inline;
  margin: 0 1rem;
}
.nav-active {
  color: #ffcc00;
}

/* MAIN */
main {
  /*background-color: hsl(210, 18%, 11%);*/
  background-color: #fff;
}
blockquote {
  border-left: 2px solid hsl(210, 100%, 97%);
  border-right: 2px solid hsl(210, 100%, 97%);
  font-family: 'Roboto', sans-serif;
  margin: 3rem 3rem;
  padding: 1rem 2rem;
  width: 70%;
}
blockquote p + p {
  margin-top: 0.5rem;
}
blockquote figcaption {
  font-style: italic;
  margin-left: 2rem;
  margin-top: 1rem;
  text-align: left;
}
.card {
  background-color: hsl(210, 100%, 97%);
  border-radius: 6px;
}
.card:hover {
  background-color: #fff;
}
.sidebar {
  padding: 1rem;
}
section {
  background-color: hsl(210, 18%, 15%);
}
section:nth-child(even) {
  background-color: hsl(210, 18%, 11%);
}

.social-links {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.social-links a {
  color: #fff;
  padding-right: 1rem;
}
.social-links img {
  width: 42px;
}
.social-links img path {
  fill: #fff;
}
.back-to-top {
  background-color: hsl(16, 100%, 55%);
  color: #fff;
  font-family: 'Lora', serif;
  font-weight: bold;
}

/* FOOTER */
footer {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

/* HELPERS */
.blurry {
  filter: blur(1px);
}

/* FORMS */

input,
select,
textarea {
  background-color: hsl(210, 18%, 15%);
  border: hsl(210, 18%, 45%) 1px solid;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
}
::placeholder {
  color: hsl(210, 18%, 65%);
  opacity: 1;
}
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: hsl(210, 18%, 65%);
}

button {
  background-color: hsl(16, 100%, 41%);
  border: hsl(16, 100%, 38%) 1px solid;
  border-radius: 3px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
}
button:hover {
  background-color: hsl(16, 100%, 43%);
}
button:active {
  background-color: hsl(16, 100%, 65%);
  border-color:hsl(16, 100%, 55%);
}